*{
    margin: 0;
    padding: 0;
}

body{
   padding: 30px;

}


/* Estilos para o cabeçalho */
h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  /* Estilos para o contêiner dos campos de entrada e rótulos */
  .form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #facd79;
    max-width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Estilos para os rótulos */
  label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  /* Estilos para os campos de entrada */
  input {
    width: 100%;
    max-width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 1s ease-in;
  }

  input:focus{
    transition: border 1s ease-in;
    border: #007BFF 3px solid;
  }
  
  /* Estilos para os botões */
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 1s ease-in;
  }
  button:hover{
    transition: all 0.5s ease-in;
    transform: scale(1.5);
  }
  
  /* Estilos para os resultados */
  p {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
  }
  
  /* Estilos para os resultados dentro de <span> */
  span {
    color: #007BFF;
    font-weight: normal;
  }
  

  .error {
    color: red;
  }
  
  /* Estilos para mensagens de sucesso em azul */
  .success {
    color: blue;
  }

  button:hover {
    background-color: #FFA500; /* Cor de fundo laranja no hover */
  }